.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 54px !important;
	padding: 0;
	background: var(--background-2);
	box-shadow: inset 0 1px 0 var(--accent-gray-light);
}