.container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 2rem 2rem 1.5rem 2rem;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.icon {
    display: flex;
    align-self: start;
}

