<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /jrProjGreenlight/
	RewriteRule ^index\.html$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /jrProjGreenlight/index.html [L]
</IfModule>