
.header {
	z-index: 1010;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 64px !important;
	padding: 0;
	background: var(--background-2);
	box-shadow: inset 0 -1px 0 var(--accent-gray-light);
	position: fixed;
}

.logoSection {
	display: flex;
	align-items: center;
	height: 64px;
	width: 208px;
	padding: 16px;
	background: var(--primary);
	gap: 4px;
}

.logoSection > div{
	display: flex;
	flex-direction: column;
}

.logo {
	height: 32px;
	width: 28px;
}

.logoText{
	font-family: var(--font-heading);
	font-weight: 700;
	color: var(--background-2);
	line-height: 22px;
	font-size: 18px;
}

.orgName{
	font-family: var(--font-body);
	color: var(--background-2);
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	width: 140px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.btn {
	position: fixed;
	top: 1rem;
	right: 1rem;
	z-index: 1100;
}

@media (max-width: 992px) {

	.btn {
		top: 1rem;
		right: 3rem;
		z-index: 1100;
	}
}