.header {
	z-index: 1010;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 68px !important;
	padding: 0;
	background: var(--background-2);
	box-shadow: inset 0 -1px 0 var(--accent-gray-light);
	position: fixed;
}

.logoSection {
	display: flex;
	align-items: center;
	height: 68px;
	width: 260px;
	background: var(--primary);
	border-bottom: 1px solid var(--primary-disabled);
}

.logoSection > div{
	display: flex;
	flex-direction: column;
}

.logo {
	height: 30px;
	width: 30px;
	margin:  4px 20px;
	margin-right: 8px;
}

.logoText{
	font-weight: 600;
	color: var(--background-2);
	line-height: 20px;
}

.orgName{
	color: var(--accent-gray-medium);
	font-family: var(--Work-Sans);
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}