.header {
	z-index: 1010;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 68px !important;
	padding: 0;
	background: var(--background-2);
	box-shadow: inset 0 -1px 0 var(--accent-gray-light);
	position: fixed;
}

.logoSection {
	display: flex;
	align-items: center;
	height: 68px;
	width: 208px;
	padding: 16px;
	background: var(--primary);
	border-bottom: 1px solid var(--accent-gray-light);
	gap: 4px;
}

.logoSection > div{
	display: flex;
	flex-direction: column;
}

.logo {
	height: 32px;
	width: 28px;
}

.logoText{
	font-weight: 700;
	color: var(--background-2);
	line-height: 22px;
	font-size: 18px;
}

.orgName{
	color: var(--background-2);
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
}