.wrapper { 
    width: 164px;
}

.link {
    display:block;
    text-decoration:none;
    color:inherit;
    padding:6px 4px;
}

.linkTitle {
    display:flex;
    align-items:center;
    gap:8px;
}

.link:hover {
    background: rgba(0,0,0,0.03); 
    border-radius:4px;
}

.wrapper :global(.ant-anchor-link) a {
    color: #000000 !important;
    font-weight: 400;
}

.wrapper :global(.ant-anchor-link) a:hover {
    color: var(--sea-green-9) !important;
}

.wrapper :global(.ant-anchor-link-active) a {
    color: var(--sea-green-9) !important;
    font-weight: 600;
}