.card :global(.ant-card-body) {
  display: flex;           /* make the inner content flex */
  flex-direction: row;     /* horizontal layout */
  gap: 8px;                /* space between image and text */
  align-items: center;     /* vertical alignment */
  padding: 16px;           /* optional, matches your card padding */
}
.card { 
    border-radius:8px;
    width: 100%;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
}

.tags { margin-bottom:8px }

.content { margin-top:8px }


.card a{
    font-size: 1rem;
    color: black;
    font-style: none;
    font-weight: 500;
}

.card p{
    color: rgba(0, 0, 0, 0.45);
    font-size: 0.875rem;
}

.words{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;   /* allow it to take remaining space */
    min-width: 0; 
}

