.sidebar {
	background: var(--primary);
	height: 100%;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	padding: 8px;
}

.hamburgerContainer {
	display: none;
}

.hamburger {
	background: none;
	border: none;
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 1020;
}
.hamburgerBar {
	width: 24px;
	height: 3px;
	background: #222;
	border-radius: 2px;
	display: block;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.2);
	z-index: 900;
}

.logoutDesktop,
.logoutMobile {
	color: var(--background-2) !important;
}

@media (max-width: 768px) {

	.sidebar{
		padding: 0;
	}
	.hamburgerContainer {
		display: flex;
		position: fixed;
		top: 1rem;
		right: 10px;
		z-index: 1100;
	}
	.hamburger {
		display: flex;
	}
	.logoutDesktop {
		display: none;
	}
	.logoutMobile {
		display: block;
		margin-top: 2rem;
	}
}

@media (max-width: 600px) {
	.sidebar {
		transform: translateX(-100%);
		transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
		width: 80vw;
		max-width: 320px;
		box-shadow: 4px 0 16px rgba(0, 0, 0, 0.08);
	}
	.sidebar.open {
		transform: translateX(0);
	}
	.hamburgerContainer {
		display: flex;
		position: fixed;
		top: 1rem;
		right: 10px;
		z-index: 1100;
	}
	.hamburger {
		display: flex;
	}
}
