.wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    margin-top: 2rem;
    width: 100%;
}

.avatar {
    background-color: var(--primary) !important;
    flex-shrink: 0;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.textarea {
    border-radius: 4px;
    resize: none;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.charCount {
    font-size: 12px;
    color: var(--gray-7);
}