body{
    box-sizing: border-box;

}
/* Theme Variables */
:root {
	--background: #F9FAFB;
	--background-2: #FFFFFF;
    --primary: #045966;
    --primary-active: #003540;
    --primary-disabled: #447A7E;
	--primary-bright: #39BBBF;

	--accent-green-light: #D4F1E8;
    --accent-gray-light: #f0f0f0;
    --accent-gray-medium: #A0A0A0;
    --accent-gray-dark: #919191;
	--Work-Sans: "Work Sans", sans-serif;

    --color-primary-disabled: #929895;
	--color-secondary: #3f8176;
	--color-secondary-disabled: #9fc0ba;
	--color-highlight: #ffffff;
	--color-red-error: #cb5251;
	--color-message-text: #333333;
	--color-message-transparent: rgba(51, 51, 51, 0.6);
	--color-message-transparent-2: rgba(51, 51, 51, 0.4);
}

.ap-wrapper {
    padding: 12px;
}

/* Typography */

h1{
	font-weight: 500;
	font-size: 38px;
	line-height: 30px;
}
h2 {
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
}
h3 {
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
}
h4 {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

h5 {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}

p {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
}

.regular {
	font-weight: 400 !important;
}

.medium {
	font-weight: 500 !important;
}

.bold {
	font-weight: 600 !important;
}

/*NAVIGATION*/

.ant-drawer-header{
	height: 64px !important;
	padding: 26px !important;
}

.ant-drawer-body {
	padding: 0 !important;
	background-color: var(--primary);
}

/* TAGS */

.eventDetailTag{
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: var(--accent-gray-dark) !important;
	background-color: var(--background);
	border: 1px solid var(--accent-gray-light);
	padding: 4px 8px;
	margin-right: 4px;
	margin-bottom: 4px;
	border-radius: 20px;
	color: var(--color-message-text);
	max-width: 135px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* DIVIDER */

.divider{
	border-block-start: 2px solid var(--accent-gray-light) !important;
	margin: 16px 0 !important;
}

