/*
    Ant Design v5 CSS customization
*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    box-sizing: border-box;

}
/* Theme Variables */
:root {
	--background: #F9FAFB;
	--background-2: #FFFFFF;
    --primary: #0C5257;
    --primary-active: #002C2F;
    --primary-disabled: #447A7E;
    --accent-gray-light: #D6D6D6;
    --accent-gray-medium: #A0A0A0;
    --accent-gray-dark: #919191;
	--Work-Sans: "Work Sans", sans-serif;


	--Instrument-Serif: "Instrument Serif", serif;
    --color-primary-disabled: #929895;
	--color-secondary: #3f8176;
	--color-secondary-disabled: #9fc0ba;
	--color-tertiary: #53370a;
	--color-tertiary-disabled: #9f8f80;
	--color-foreground-1: #c4bea9;
	--color-foreground-2: #ded7bf;
	--color-highlight: #ffffff;
	--color-red-error: #cb5251;
	--color-message-text: #333333;
	--color-action-foreground: #3f5f76;
	--color-action-disabled: #608ba9;
	--color-message-transparent: rgba(51, 51, 51, 0.6);
	--color-message-transparent-2: rgba(51, 51, 51, 0.4);
}

:root {
    --ant-primary-color: #1e90ff;

    /* Example overrides you may want to add:
    --ant-border-radius-base: 8px;
    --ant-font-size-base: 16px;
    --ant-color-bg-layout: #fafafa;
    */
}

.ap-wrapper {
    padding: 12px;
}


/* TEXT STYLING */

.logoText {
	font-family: var(--Work-Sans);
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: var(--color-background-2);

}

p{
    margin-bottom: 0;
}

aside{
	position: fixed;
    left: 0px;
    top: 68px;
    z-index: 1050 !important;
    flex: 0 0 260px;
    max-width: 260px;
    min-width: 260px;
    width: 260px;
}

/*Navigation*/

.ant-menu {
	background: var(--primary);
}

.ant-menu-item, .ant-menu-submenu-title {
	border-radius: 0;
	font-family: var(--Work-Sans);
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--background-2) !important;
	padding-left: 16px !important;
}

.ant-menu-item-icon{
	font-size: 20px !important;
}

.ant-menu-item {
	border-radius: 8px;
	width: 100%;;
}

.ant-drawer-header-title{
	height: 35px !important;
}
.ant-drawer-body{
	padding: 0 8px !important;
	background-color: var(--primary);
}

.ant-menu-item-selected, .ant-menu-item-active, .ant-menu-item:hover,
.ant-menu-submenu-title-selected, .ant-menu-submenu-title-active, .ant-menu-submenu-title:hover {
	background-color: var(--primary-active) !important;
}
