.card { 
    border-radius:8px; 
    width: 100%;
}

.image { 
    gap:8px; 
    margin-right: 15px;
    display: flex;
    align-items: center;
    width: 22%;
}

.subtitle { 
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.content {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.all{
    display: flex;
    flex-direction: row;
}
