.card { border-radius:8px; width: 100%;}

.header { 
    display:flex; 
    align-items:center; 
    gap:8px; 
    margin-right: 15px;
}

.subtitle { color:#666 }

.content { margin-top:8px; display: flex; flex-direction: row;}
