.card { border-radius:8px }

.meta { 
    display:flex; 
    align-items:center; 
    gap:8px; 
    justify-content: center;
    margin-bottom: 8px;
}

.role { 
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
}

.content {
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    color:#666;
}
    

.name{
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 2px 0px 0px var(--gray-4);
}
