.wrapper {
    display:flex;
    align-items:center;
    justify-content:center;
}

.inner {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    line-height:1;
}

.amount {
    font-weight:600;
    font-size:24px;
}

.remaining {
    font-size:14px;
}

