.meta {
  display: flex;
  gap: 12px;
  color: #888;
  font-size: 12px;
}

.title{
  margin: 0.5rem 0 !important;
}

.submitted {
  color: var(--accent-gray-dark);
  font-size: 14px;
  margin-bottom: 0 !important;
}
